	<li>
		<%= gravatar_for user, size: 52 %>
		<%= link_to user.name, user %>
		<% if current_user.admin? && !current_user?(user) %>
			| <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
		<!-- Place delete links only if user is amin, AND not the current users own listing -->
	</li>